*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
    text-transform: capitalize;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: 1;
}

a:focus, a:hover {
    color: #006aff;
    text-decoration: none;
}

/* NAVBAR */
.navbar{
    margin-bottom: 0;
    min-height: unset;
}

.navbar-fixed-top.navbar-menu{
    top: 50px;
    border-top: 1px solid rgb(229,232,237);
}

.navbar-fixed-top.navbar-header-top{
    z-index: 40;
}

nav section.navbar-header-top{
    color: #76829b;
}

nav section.navbar-header-top span{
    color: #76829b;
}

nav section.navbar-header-top .navbar-right{
    padding: 0px;
    font-size: 12px;
    font-weight: lighter;
}

nav section.navbar-header-top span:hover{
    color: #006aff;
}

.navbar-default{
    background-color: white;
}

.navbar-fixed-top {
    border-width: 0;
}

.navbar-default .navbar-brand{
    color: white;
    font-size: 2.25rem;
    padding: 22px;
}

.navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: white;
}


.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
    background-color: transparent;
    color: #006aff;
}

.navbar-default .navbar-toggle {
    margin-top: 16px;
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #5b6987;
    margin-top: 4px;
    width: 20px;
    height: 3px;
}

nav img{
    height: 29px;
}

.nav-menu-obj{
    float: left;
    padding: 30px 10px;
    font-size: 14px;
    font-weight: bold;
    color: hsl(221,93%,16%);
}

.nav-menu-obj i{
    position: relative;
    top: 1px;
    color: #5b6886;
}

.navbar-right{
    margin-right: 10px;
    padding: 20px 0;
}

nav .btn{
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 13px;
    padding-top: 10px;
    padding-bottom: 2px;
}

.btn1{
    color: #006aff;
    border: 1px solid #006aff;
    background-color: white;
}

.btn1:hover{
    background-color: #006aff;
    color: white;
}


.btn2{
    color: white;
    border: 1px solid #006aff;
    background-color: #006aff
}

.btn2:hover{
    background-color: #006aff;
    color: white;
}

nav .new{
    background-color: rgb(0,215,210);
    color: rgb(3,27,78);
    font-size: 9px;
    padding: 2px 7px;
    margin-left: 22px;
}

nav .new:hover{
    color: rgb(3,27,78);
    background-color: rgb(0,215,210);
    font-size: 9px;
}

nav .slogan{
    display: inline-block;
    margin-top: 18px;
    font-size: 12px;
}

/* MAIN */
main{
    padding-top: 126px;
}

.jumbotron{
    background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-size: cover;
    background-position: bottom;
    color:white;
    font-family: 'Roboto', sans-serif;
}

.jumbo-left{
    padding: 150px 0;
}
.jumbo-left h1{
    line-height: 1;
}

.jumbo-left h1{
    font-weight: bolder;
}

.jumbo-right{
    /* padding: 100px 0; */
    max-width: 370px;
    min-width: 200px;
    margin-top: 20px;
}

form{
    background-color: white;
    padding: 25px 20px;
    width: 100%;
    display: inline-block;
}

form input[type="text"],input[type="email"],input[type="tel"], input[type="password"], select {
    outline-color:  #006aff;
}

form input{
    color: hsl(221,93%,16%);
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;;
    border: 1px solid #e5e8ed;
    border-radius: 10px;
    margin: 5px 0;
}

::placeholder{
    color: grey;
    font-size: 16px;
}

.form-title h4{
    font-weight: bolder;
padding: 25px 0;
color: #031b4e;
background-color: #f3f5f9;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

form a {
    width: 100%;
}

form .btn2{
    font-weight: bolder;
    font-size: 18px;
    padding: 20px 0;
    margin-bottom: 20px;
}

form .btn2:hover{
    background-color: #1633ff;
}

.btn-multi{
    padding: 15px;
}

.btn-multi .btn1{
    font-weight: bolder;
    font-size: 100%;
    padding: 10px 0;
    border-radius: 5px;
}

.btn-multi .btn1:hover {
    border:1px solid black;
    background-color: white;
}

.btn-multi .btn1:hover span{
    color: black;
}

.btn-multi .btn1:hover i{
    color: #006aff;
}




 .btn-multi{
    background-color: white;
    border-top: 1px solid #f3f5f9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-multi .btn:first-of-type{
    width: 80%;
}

.btn-multi .btn:last-of-type{
    width: calc(20% - 8px);
    border-top-left-radius: 5;
    border-bottom-left-radius: 5;
    display: inline-block;
}

.terms{
    font-size: 12px;
    padding-top: 10px;
}

@media screen and (max-width: 992px){
    .navbar-fixed-top.navbar-menu{
        top: 0px;
    }
    .navbar-fixed-top.navbar-header-top{
        display: none;
    }
    .navbar-toggle{
        position: absolute;
        right: 0;
        display: block;
    }
    .nav-menu-obj{
        display: none;
    }
    nav ul{
        display: none;
    }
    .navbar-header{
        padding-bottom: 30px;
    }
    main{
        padding-top: 76px;
    }

    .jumbo-left{
        text-align: center;
        padding: 0;
    }

    .jumbo-left h1{
        font-size: 40px;
    }

    .jumbo-right{
        padding: 0 0;
        text-align: center;
    }
}


/* media per non far floattare una parte del form a sinistra */
@media screen and (width: 992px){
    .jumbo-left{
        padding: 80px;
    }
}

/* mantiene centrato il form  */
@media screen and (max-width: 767px){
    .jumbo-right{
        margin: 0px 50%;
        transform: translate(-50%, 0);
    }
}
